html {
    line-height: 24px;
}

html {
    font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
	font-size: 16px;
    background-color: white;
    color: #4b5563;
}

body,html {
    margin: 0;
    padding: 0;
} 

* {
    box-sizing: border-box;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 32px;
}

h1 {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

a {
    color: inherit;
      text-decoration: none;
}

a:hover {
    opacity: 0.6;
    transition: opacity .2s ease-out;
    -moz-transition: opacity .2s ease-out;
    -webkit-transition: opacity .2s ease-out;
    -o-transition: opacity .2s ease-out;
}

.black {
    color: #1F1F1F;
}

.tags .tag + .tag {
    margin-left: 4px;
}

.tag {
    padding: 3px 8px 4px 8px;
    background-color: rgb(232, 232, 232);
    font-size: 10px;
    border-radius: 16px;
    color: black;
}

@media (prefers-color-scheme: dark) {
    html {
        background-color: #1F1F1F;
        color: #ABABAB;
    }

    .black {
        color: white;
    }

    .tag {
        background-color: white;
    }
}