---
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components'

import '../styles/global.css'
import Projects from './Projects.astro';
---

<div id="container">
	<main>
		<section>
			<a href="https://github.com/didisouzacosta">
				<Image src="https://avatars.githubusercontent.com/u/11352503?v=4" alt="Adriano Souza Costa" width="120" height="120" loading="eager" priority={true} class="avatar"/>
			</a>
			
			<h1 class="name black">
				Adriano Souza Costa
			</h1>
		</section>

		<section>
			<p class="profession">
				iOS/MacOS Developer
			</p>

			<p class="black">
				Swift • SwiftUI • UIKit •  Objective-C • SwiftData/CoreData • CI/CD • React Native
			</p>

			<p>
				I specialize in developing for Apple platforms iOS, MacOS and tvOS, priorizing user experience and design excellence. Collaborating with cross-functional teams, delivery through intuitive app interfaces using Swift, SwiftUI, UIKit, Objective-C or React Native.
			</p>

			<p id="social">
				<a href="https://x.com/didisouzacosta" target="_blank" aria-label="X" aria-labelledby="X">
					<Icon name="x" class="social-icon black"/>
				</a>

				<a href="https://github.com/didisouzacosta" target="_blank" aria-label="Github" aria-labelledby="Github">
					<Icon name="github" class="social-icon black"/>
				</a>

				<a href="https://www.linkedin.com/in/adrianosouzacosta" target="_blank" aria-label="Linkedin" aria-labelledby="Linkedin">
					<Icon name="linkedin" class="social-icon black"/>
				</a>
			</p>
		</section>

		<Projects />
	</main>
</div>

<style>
	img.avatar {
		border-radius: 50%;
	}

	p.profession {
		margin: 0px;
		padding: 0px;
	}

	ul.skills {
		display: flex;
		padding: 0px;
		margin: 16px 0px 16px 0px;
		list-style: none;
	}

	ul.skills li {
		margin-right: 8px;
		margin-left: 8px;
	}

	#container {
		display: flex;
		justify-content: center;
		flex-direction: column;
		min-height: 100vh;
		align-items: center;
	}

	#social {
		margin-top: 32px;
	}

	#social a + a {
    	margin-left: 8px;
	}

	.social-icon {
		width: 22px;
		height: 22px;
	}
</style>
